{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/buy" method="post" class="buy_request justify-content-center justify-axis-center">
        <div class="buy_request justify-content-center justify-axis-center">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto mt-5" id="chemical" name="chemical" placeholder="Chemical" type="text">
            <input autocomplete="off" class="form-control mx-auto w-auto mt-5" id="amount" name="amount" placeholder="Amount" type="number">
            <select class="form-select select_tab" id="unit" name="unit">
                <option selected disabled>Unit</option>
                <option value="mL">mL</option>
                <option value="mg">mg</option>
                <option value="L">L</option>
                <option value="Kg">Kg</option>
            </select>
            <select class="form-select priority_tab" id="priority" name="priority">
                <option selected disabled>Priority</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>
        <div class="buy_request justify-content-center justify-axis-center">
        <button class="btn buy_button btn-primary" type="submit">Place Buy Request</button>
        </div>
    </form>
{% endblock %}
