/* Size for Logo */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

/* Colors for Logo */
.blue
{
    color: #5891e2;
}
.red
{
    color: #ee544c;
}

/* Button Config */
.button{
    background-color:orange;
    border: none;
  }  
.button:hover{
    background-color:red
  }

/* search_details config */

.search{
    color : blue;
    font-size: 25px;
}
